.topics {
  padding-inline-start: 0;
  list-style-type: none;
}

.topic {
  text-transform: capitalize;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #e8e8e8;
  }

  &.selected {
    font-weight: bold;
  }
}
