.root {
  max-height: 100vh;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: hidden;

  @media (min-width: 1024px) {
    flex-direction: row;
    margin: 2rem;
  }
}

.navbar {
  min-width: 300px;
}

.content {
  width: 100%;
  overflow-y: auto;
}
